<%- include('../partials/header') %>
    <title>POS - Units</title>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include('../partials/sidebar') %>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%- include('../partials/topbar') %>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">Units</h1>
                                <p class="mb-4">This is data of Units</p>

                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <a href="/units/add" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-fw fa-plus"></i>
                                            </span>
                                            <span class="text">Add</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Unit</th>
                                                        <th>Name</th>
                                                        <th>Note</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Unit</th>
                                                        <th>Name</th>
                                                        <th>Note</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <% datas.forEach(data=> {%>
                                                        <tr>
                                                            <td>
                                                                <%= data.unit %>
                                                            </td>
                                                            <td>
                                                                <%= data.name %>
                                                            </td>
                                                            <td>
                                                                <%= data.note %>
                                                            </td>
                                                            <td>
                                                                <a href="/units/edit/<%= data.unit %>"
                                                                    class="btn btn-success btn-circle"><i
                                                                        class="fas fa-fw fa-info-circle"></i></a>
                                                                <a href="/units/delete/<%= data.unit %>"
                                                                    class="btn btn-danger btn-circle"
                                                                    data-toggle="modal"
                                                                    data-target="#deleteModal<%= data.unit %>"><i
                                                                        class="fas fa-fw fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="deleteModal<%= data.unit %>"
                                                            tabindex="-1" role="dialog"
                                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Delete Confirmation</h5>
                                                                        <button class="close" type="button"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure, you want to delete it?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button"
                                                                            data-dismiss="modal">No</button>
                                                                        <a class="btn btn-primary"
                                                                            href="/units/delete/<%= data.unit %>">Yes</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>




        <!-- Logout Modal-->
        <%- include('../partials/logout') %>

            <%- include('../partials/footer') %>